<div class="footer">
<ul class="items projects">
  <li>
    <strong><a href="index.html">Home</a></strong>
  </li>
  <li>
    <strong><a href="jobs_en.html">Jobs</a></strong>
    <span>Your career with Skanatek</span>
  </li>
  <li>
    <strong><a href="">Вакансии</a></strong>
    <span>Вакансии для русскоязычных кандидатов</span>
  </li>
  <li>
    <strong><a href="contact_us.html">Contact us</a></strong>
    <span>Drop us a message</span>
  </li>
  <li>
    <strong><a href="contact_us.html">Contact us</a></strong>
    <span>Drop us a message</span>
  </li>
  
</ul>

<ul class="items posts last">
  {% for post in site.posts limit:11 %}
    <li>
      <strong>{{ post.date | date_to_string }}</strong>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

</div>
</div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22675178 = new Ya.Metrika({id:22675178,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22675178" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
