<div class="footer">

<div class="share">
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_delicious_large' displayText='Delicious'></span>
<span class='st_identi_large' displayText='identi.ca'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
<span class='st_email_large' displayText='Email'></span>
<span class='st_fblike_large' displayText='Facebook Like'></span>
<span class='st_fbrec_large' displayText='Facebook Recommend'></span>
<span class='st_plusone_large' displayText='Google +1'></span>
<span class='st_baidu_large' displayText='Baidu'></span>
</div>


<ul class="items projects">
  <li>
    <strong><a href="index.html">Главная</a></strong>
  </li>
  </ul>
<ul class="items posts last">
  {% for post in site.posts limit:11 %}
    <li>
      <strong>{{ post.date | date_to_string }}</strong>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

</div>
</div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23234392 = new Ya.Metrika({id:23234392,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23234392" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
