<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}Стажировка - ваша инструкция по поиску и прохождению стажировки{% endif %}</title>
  <meta name="description" content="{% if page.title %}{{page.title}}{% else %}Skanatek{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="iE8RFSiB0O_VuUkF_UFGzaV43sUf3lGns4ZdI88ITBQ" />

  <!-- <link href="/atom.xml" rel="alternate" title="bjorkoy.com" type="application/atom+xml"> -->
  <link rel="icon" type="image/png" href="/images/icon.png">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//use.typekit.net/zmq0szj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script src="/js/jquery.js"></script>
  <script src="/js/retina.js"></script>
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/screen.css">
  <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7a5d9525-dd13-4386-ab4e-1100e416371f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</head>
<body id="">
<div class="wrap">
<div class="intro">


